<div class="container">
    
    <div align="right"><button mat-raised-button color="accent" routerLink="/employee-list">Go To Employee-List</button></div>
    <div >{{successMessage}} {{errorMessage}}</div>
    <div class="card p-5 mt-3">
        <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
        <mat-form-field appearance="outline">
            <mat-label>Employee Id</mat-label>
            <input matInput placeholder="Placeholder" name="id" [(ngModel)]="employee.id" disabled>
            <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Employee Name</mat-label>
            <input matInput placeholder="Placeholder" name="employeeName" [(ngModel)]="employee.employeName">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="Placeholder" name="mobileNumber" [(ngModel)]="employee.mobileNumber">
            <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Placeholder" name="address" [(ngModel)]="employee.address">
            <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose Your Department</mat-label>
            <mat-select  [(ngModel)]="employee.department" name="department">
                <mat-option value="IT">IT</mat-option>
                <mat-option value="Network">Network</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
            <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>

        <div>
            <label>Gender</label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="employee.gender" name="gender">
                <mat-radio-button (click)="selectGender('Male')" value="Male">Male</mat-radio-button>
                <mat-radio-button (click)="selectGender('Female')" value="Female">Female</mat-radio-button>
            </mat-radio-group>
        </div>


        <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Selected Skills</mat-label>
            <input matInput placeholder="Placeholder" name="skills" [(ngModel)]="employee.skills" disabled>
            <mat-icon matSuffix>code</mat-icon>
        </mat-form-field>


        <div>
            <label>Skills</label>
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="handleSkillChange($event)"
                    value="Java">Java</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="handleSkillChange($event)"
                    value="Angular">Angular</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="handleSkillChange($event)"
                    value="React">React</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="handleSkillChange($event)"
                    value="Python">Python</mat-checkbox>
            </section>
        </div>
        <mat-divider></mat-divider>
        <div class="text-center mt-3">
            <!-- <button mat-raised-button class="m-2" (click)="resetForm()">Clear</button> -->
            <button mat-raised-button color="primary" type="submit" class="m-2">Save</button>
        </div>
    </form>
    </div>
</div>